.messageBox {
  background: #f3f3f3;
  border-radius: 5px;
  padding: 0px 15px;
  color: white;
  display: flex;
  align-items: center;
  max-width: 90%;
  min-height: 50px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  flex-flow: column;
  padding: 0 5%;
  margin: 10px 0px;
}

.flex-end {
  align-items: flex-end;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 12px;
  color: #828282;
  letter-spacing: 0.3px;
  margin-bottom: 2px;
  margin-top: 10px;
}

.light-box {
  background-color: rgba(255, 255, 255, 0.35);
  margin: 10px 0px 30px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  align-items: flex-start;
}

.justifyMiddle {
  align-items: center;
}

.justifyEnd {
  align-items: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.ad {
  background: none;
}

.backgroundBlue {
  background: #69bcffc7;
}

.ad1 {
  font-family: Helvetica;
  color: #828282;
  font-size: 0.8em;
}

.backgroundLight {
  background: #ffffffc0;
}
