.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    margin: 1%;
    padding: 3%;
    width: 80%;
    max-height: 15%;
    font-size: 1em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    margin: 1%;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    border: none;
    width: 20%;
  }