.project-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-list h3 {
  font-size: 20px;
  margin: 10px auto;
  width: 80%;
  color: rgba(53, 53, 53, 0.7);
}

.project {
  padding: 20px;
  cursor: pointer;
  width: 90%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.4);
  margin: 5px auto;
}

.project:hover,
.project-active {
  background-color: rgba(255, 255, 255, 0.5);
}
.project-name {
  font-size: 17px;
  display: block;
}

.project-collaborators {
  font-size: 0.75em;
  color: rgba(53, 53, 53, 0.7);
}
