#bg {
  background-image: url("./Group.png");
  background-size: cover;
  background-attachment: fixed;
}

#cont {
  margin-top: 50px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  width: 500px;
}

#sign {
  margin-top: 1rem;
  background-color: white;
  color: turquoise;
}

#contain {
  padding: 50px;
  display: flex;
  justify-content: center;
  width: 400px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
