body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cont {
  display: flex;
  flex-direction: row;
}

.side-bar {
  display: flex;
  flex-flow: column;
  background-image: url("../Home/Group.png");
  background-size: auto 100%;
}

.projects-list-container {
  padding-top: 10px;
  width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.options-bar {
  height: 75px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(230, 230, 230);
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.397);
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.719);
  background-attachment: fixed;
}

.sign-out-button {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.63);
  color: rgb(88, 88, 88);
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 0px auto 10px;
}

.project-tools {
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.options-bar button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  padding: 10px;
}

.options-bar button:focus {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  outline: none;
}

.code-holder {
  display: flex;
  overflow: hidden;
  flex: 1;
  height: 100vh;
}

.chat {
  width: 400px;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.disappear {
  display: none;
}
