#message{
    color: red;

}

#form{
    border: none;
    width: 100%;
}

#logcont{
    width: 80%;
}

#logstack{
    width: 100%;
}

#email, #password{
    padding: 10px;
}

#head{
    color: turquoise;
}

#butt{
    background-color: turquoise;
    color: white;
}